@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

$main-color: #308446;

.header__Block {
    display: grid;
    grid-template-columns: 10em 6em;
    justify-content: space-between;
    align-items: center;
    background-color: $main-color;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 0.7;
    height: 5em;
    &:hover {
        opacity: unset;
    }
}

.headerLogo__Block {
    display: grid;
    grid-template-columns: 2em 13em;
    grid-column-gap: 5em;
}

.logoLink__btn {
    display: grid;
    justify-self: end;
}

.logoLink__img {
    margin-top: -7px;
    width: 70px;
    opacity: 0.8;
    position: fixed;
    content: url(../../../assets/images/closed-box.png);
}

.headerTitle__txt {
    font-family: "DotGothic16", sans-serif;
    font-size: 35px;
    color: #000;
}

.logIn__btn:hover {
    -webkit-animation: swing 2s ease;
    animation: swing 2s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.logIn__img {
    margin-bottom: -7px;
    width: 48px;
    cursor: pointer;
}

.menuHi__txt {
    margin-left: 5px;
    color: $main-color;
}

@media (max-width: 790px) {
    .header__Block {
        grid-template-columns: 18em 4em;
    }
    .headerLogo__Block {
        grid-template-columns: 1em 13em;
    }
}

@media (hover: hover) and (pointer: fine) {
    .logoLink__img {
        margin-top: -7px;
        width: 70px;
        opacity: 0.8;
        position: fixed;
        content: url(../../../assets/images/closed-box.png);
        &:hover {
            width: 70px;
            content: url(../../../assets/images/open-box.png);
            background: #00008b;
            transition: 1s;
            cursor: pointer;
        }
    }

    .headerTitle__txt {
        font-family: "DotGothic16", sans-serif;
        font-size: 35px;
        color: #000;
        &:hover {
            color: transparent;
            transition: 3s;
        }
    }
}
