@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

@-webkit-keyframes swing {
    15% {
        -webkit-transform: translateX(9px);
        transform: translateX(9px);
    }
    30% {
        -webkit-transform: translateX(-9px);
        transform: translateX(-9px);
    }
    40% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }
    50% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
    }
    65% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes swing {
    15% {
        -webkit-transform: translateX(9px);
        transform: translateX(9px);
    }
    30% {
        -webkit-transform: translateX(-9px);
        transform: translateX(-9px);
    }
    40% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }
    50% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
    }
    65% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.header__Block {
    display: grid;
    grid-template-columns: 10em 5em;
    justify-content: space-between;
    align-items: center;
    background-color: #308446;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 0.7;
    height: 5em;
    &:hover {
        opacity: unset;
    }
}

.headerLogo__Block {
    display: grid;
    grid-template-columns: 2em 13em;
    grid-column-gap: 5em;
}

.logoLink__btn {
    display: grid;
    justify-self: end;
}

.logoLink__img {
    margin-top: -7px;
    width: 70px;
    opacity: 0.8;
    position: fixed;
    content: url(../../../assets/images/closed-box.png);
    &:hover {
        width: 70px;
        content: url(../../../assets/images/open-box.png);
        background: #00008b;
        transition: 1s;
        cursor: pointer;
    }
}

.headerTitle__txt {
    font-family: "DotGothic16", sans-serif;
    font-size: 35px;
    &:hover {
        color: transparent;
        transition: 2s;
    }
}

.headerNav__Block {
    display: grid;
}

.logIn__btn:hover {
        -webkit-animation: swing 2s ease;
        animation: swing 2s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}

.logIn__img {
    margin-bottom: -7px;
    width: 50px;
}

@media (max-width: 790px) {
    .header__Block {
        grid-template-columns: 18em 4em;
    }
    .headerLogo__Block {
        grid-template-columns: 1em 13em;
    }
}
