$latinFont: "DotGothic16", sans-serif;

$cyrillicFont: "Press Start 2P", cursive;

$articlesFont: 'Jura', sans-serif;

$main-color: #308446;
$dark-theme: #202124;

.selection_Block {
    display: grid;
    grid-template-columns: repeat(3, auto);
    background-color: $main-color;
    height: 100vh;
}

.selection_Block_dark {
    display: grid;
    grid-template-columns: repeat(3, auto);
    background-color: $dark-theme;
    height: 100vh;
}

.selection__btn {
    margin-top: 3em;
    margin-bottom: 3em;
    padding: unset;
    display: grid;
    align-content: center;
    grid-template-rows: repeat(3, 3em);
    grid-column-start: 2;
    background-color: #000;
    border: none;
    justify-items: center;
    text-decoration: none;
    &:hover {
        cursor: pointer;
        filter: invert(1);
    }
}

.selection__btn_dark {
    margin-top: 3em;
    margin-bottom: 3em;
    padding: unset;
    display: grid;
    align-content: center;
    grid-template-rows: repeat(3, 3em);
    grid-column-start: 2;
    color: #000;
    background-color: $main-color;
    border: none;
    justify-items: center;
    text-decoration: none;
    &:hover {
        cursor: pointer;
        filter: invert(1);
    }
}

.selection__txt {
    color: #308446;
    font-family: $cyrillicFont;
    font-size: 25px;
    grid-row-start: 2;
    margin-left: 10px;
}

.selection__txt_dark {
    color: #000;
    font-family: $cyrillicFont;
    font-size: 25px;
    grid-row-start: 2;
    margin-left: 10px;
}

.begining_Block {
    background-color: #f2f3f4;
    text-align: center;
}

.begining_Block_dark {
    background-color: $dark-theme;
    text-align: center;
    color: #fff;
}

.greet_Block {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.greet__txt {
    font-family: $cyrillicFont;
    color: $main-color;
    font-size: 20px;
}

.greet__article {
    padding-left: 20px;
    padding-right: 20px;
    font-family: $articlesFont;
    font-size: 24px;
    line-height: 45px;
    text-decoration: none;
}
.greet__link {
    text-decoration: none;
    &:visited {
        color: $main-color;
    }
    &:hover {
        text-decoration: underline;
    }
}

.fun_Block {
    display: grid;
    grid-template-rows: repeat(10, 50em);
    text-align: center;
}

.fun__txt {
    padding-left: 20px;
    padding-right: 20px;
    font-family: $articlesFont;
    font-size: 30px;
}

.nextLesson__btn {
    padding: 6px 6px;
    font-size: 50px;
    color: $main-color;
    font-family: $cyrillicFont;
    background-color: #00008b;
    text-decoration: none;
    &:hover {
        cursor: pointer;
        filter: invert(1);
        border: none;
        transition: 1s;
    }
}
